# SPDX-License-Identifier: GPL-2.0-only
# Camera configuration fragment for Xiaomi Pad 5 (nabu)
CONFIG_MEDIA_SUPPORT=m
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_VIDEO_DEV=m

CONFIG_I2C_QCOM_CCI=m
CONFIG_SM_CAMCC_8150=m
CONFIG_VIDEO_QCOM_CAMSS=m
CONFIG_VIDEO_OV13B10=m
CONFIG_VIDEO_OV8856=m
CONFIG_VIDEO_CN3927=m

CONFIG_CMA_SIZE_MBYTES=256
CONFIG_FW_LOADER_COMPRESS=y
CONFIG_FW_LOADER_COMPRESS_XZ=y
CONFIG_FW_LOADER_COMPRESS_ZSTD=y
